<div class="card">
  <h5>Cell Editing</h5>
  <form [formGroup]="fg">
    <p-table [value]="rows.controls" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let gridHeader of gridHeaders">{{ gridHeader }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <ng-container formArrayName="rows">
          <tr [formGroupName]="rowIndex">
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" formControlName="name" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ rowData.get("name").value }}
                </ng-template>
              </p-cellEditor>
            </td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>
  </form>
</div>
