<div class="card">
  <h5>Cell Editing</h5>
  <form [formGroup]="fg">
    <p-table [value]="rows.controls" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let gridHeader of gridHeaders">{{ gridHeader }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <ng-container formArrayName="rows">
          <tr [formGroupName]="rowIndex">
            <ng-container *ngFor="let column of gridHeaders">
              <ng-container [ngSwitch]="column">
                <td pEditableColumn *ngSwitchCase="'name'">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input
                        pInputText
                        type="text"
                        [formControlName]="column"
                      />
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ rowData.get(column).value }}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td *ngSwitchDefault>{{ rowData.get(column).value }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-default"
                    title="Delete"
                    (click)="onDeleteRow(rowIndex)"
                  >
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Delete
                  </button>
                </td>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>
  </form>
  <div class="card-footer">
    <button
      type="button"
      class="btn btn-primary btn-sm pull-left"
      (click)="addNewRow()"
    >
      Add Row
    </button>
    <button
      type="button"
      class="btn btn-success btn-sm pull-right"
      title="Save"
      (click)="save()"
    >
      Save
    </button>
  </div>
</div>
